<div class="card">
  <div class="card-header">
   
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveExercise()"
          [formGroup]="workoutForm">

          <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label"
                     for="Id">Lokalizacja</label>
              <div class="col-md-8">
                <mat-form-field appearance="outline">
                <mat-label>Lokalizacja</mat-label>
                <mat-icon matSuffix>location_on</mat-icon>
  
                <input  matInput placeholder="Lokalizacja"  
                       id="Id"
                       type="text"
                       formControlName="location" 
                       [ngClass]="{'is-invalid': displayMessage['location']  }"                    
                       />
                       <span class="invalid-feedback">
                        {{displayMessage['location']}}
                      </span>  
              </mat-form-field> 
             
              </div>
            </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="exerciseId">Opis</label>
        <div class="col-md-8">
              <mat-form-field appearance="outline">
              <mat-label>Opis</mat-label>
              <mat-icon matSuffix>description</mat-icon>
              <input matInput placeholder="Opis" class="form-control"
                 id="Id"
                 type="text"
                 formControlName="description"
               />
              </mat-form-field> 
        </div>
        </div>


        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="exerciseId">Data</label>
          <div class="col-md-8">
              <mat-form-field appearance="outline">
              <mat-label>Data</mat-label>
              <input matInput placeholder="Opis" class="form-control"
                   id="Id"
                   type="date"
                   formControlName="date"
                   [ngClass]="{'is-invalid': displayMessage['date']  }"                    
                   />
                   <span class="invalid-feedback">
                    {{displayMessage['date']}}
                  </span>  
             </mat-form-field>           
          </div>
      </div>

      <div class="row">
        <div class="col-md-2 mb-2">
          <button mat-flat-button color="primary"
                  type="button"
                  
                  (click)="addExercise()"> Dodaj Trening
                  <mat-icon>exposure_plus_1
                  </mat-icon>
                
          </button>
        </div>
      </div>
    
      <div formArrayName="exerciseList">
        <div class="form-group row mb-2"
        *ngFor="let exercise of exerciseList.controls; let i=index">
          <div class="col-md-12">
            <div [formGroupName] ="i">


            
             
              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                      attr.for="{{'categoryId' + i}}">Cwiczenie</label>
                <div class="col-md-8">

                  <mat-form-field appearance="outline">
                    <mat-label>Kategoria</mat-label>
                    <mat-icon matSuffix>model_training</mat-icon>
                    <input matInput placeholder="Kategoria"
                        id="{{'categoryId' +i }}"
                        type="text"

                        formControlName="category"
                        [ngClass]="{'is-invalid':displayMessageExercise ['category']  }"                    
                       />
                       <span class="invalid-feedback">
                        {{displayMessageExercise['category']}}
                      </span>  
                        </mat-form-field>
                </div>
               
              </div>

              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                      attr.for="{{'weightId' + i}}">Ciężar</label>
                <div class="col-md-8">
                    <mat-form-field appearance="outline">
                    <mat-label>Ciężar</mat-label>
                    <mat-icon matSuffix>fitness_center</mat-icon>
                  <input matInput placeholder="Ciężar" 
                        id="{{'weightId' +i }}"
                        type="number"
                    
                        formControlName="weight"
                        [ngClass]="{'is-invalid': displayMessageExercise['weight']}"                    
                       />
                       <span class="invalid-feedback">
                        {{displayMessageExercise['weight']}}
                      </span>  
                  </mat-form-field>
                </div>
               
              </div>

              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                      attr.for="{{'seiresId' + i}}">Seria</label>
                <div class="col-md-8">
                  
                  <mat-form-field appearance="outline">
                    <mat-label>Seria</mat-label>
                    <mat-icon matSuffix>location_on</mat-icon>
                  <input matInput placeholder="Seria" 
                        id="{{'seiresId' +i }}"
                        type="number"
                        placeholder="seria"
                      
                        formControlName="series"
                        [ngClass]="{'is-invalid': displayMessageExercise['series']  }"                    
                        />
                        <span class="invalid-feedback">
                         {{displayMessageExercise['series']}}
                       </span>  
                        </mat-form-field>
                </div>
               
              </div>

              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                      attr.for="{{'repsId' + i}}">Reps</label>
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Powtórzenia</mat-label>
                    <mat-icon matSuffix>location_on</mat-icon>
                  <input matInput placeholder="Powtórzenia"
                        id="{{'repsId' +i }}"
                        type="number"
                    
                      
                        formControlName="reps"
                        [ngClass]="{'is-invalid': displayMessageExercise['reps']  }"                    
                       >
                       <span class="invalid-feedback">
                        {{displayMessageExercise['reps']}}
                      </span>  
                       </mat-form-field> 
                </div>
               
              </div>

            </div>

          <button mat-flat-button color="primary"
                  type="button"
                  title="Delete this search tag"
                  (click)="deleteExercise(i)">Usuń trening
                  <mat-icon>delete
                  </mat-icon>
                
          </button>
        </div>
      </div>

    
      

      <div class="form-group row mb-2">
        <div class="offset-md-4 col-md-8">
          <button mat-flat-button color="primary"
                  type="submit"
                  [disabled]="!workoutForm.valid">
            Zapisz
            <mat-icon>save
            </mat-icon>
          </button>

          <button mat-flat-button color="primary" style="margin-left: 10px;"
                  type="button"
                  [routerLink]="['/workout']">
            Anuluj
            <mat-icon>cancel
            </mat-icon>
          </button>
 
        </div>
      </div>
      </div>
    </form>
  </div>
  <!-- <br>Dirty: {{ workoutForm.dirty }}
  <br>Touched: {{ workoutForm.touched }}
  <br>Valid: {{ workoutForm.valid }}
  <br>Value: {{ workoutForm.value | json }}
  <br>Valie: {{displayMessageExercise['category']}} -->
  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>