<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
   
  
      <div class="table-responsive">
        <table class="table table-striped mb-0"
               *ngIf="Workouts && Workouts.length">
          <thead style="background-color: #002d72;">
            <tr>
              <!-- <th>
                <button class="btn btn-outline-primary btn-sm"
                        (click)="toggleImage()">
                  {{showImage ? "Hide" : "Show"}} Image
                </button>
              </th> -->
              <th scope="col">Id</th>
              <th scope="col">Lokalizacja</th>
              <th scope="col">Data</th>
              <th scope="col">Opis</th>
              <th scope="col">Szczegóły</th>
              <th scope="col">Usuń</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let workout of Workouts">
             
               
              <td>{{ workout.id }}</td>
              <td>{{ workout.location }}</td>
              <td>{{ workout.date | date:' dd MM yyyy ' }}</td>
              <td>{{ workout.description }}</td>
              <td>
                <button mat-button 
                        [routerLink]="['/workout', workout.id, 'workoutDetails']">
                        <mat-icon>info</mat-icon>
                </button>
              </td>
              <td>
                <button mat-button 
                   
                    (click)="deleteWorkoutWithExercise(workout.id)">
                    <mat-icon>delete</mat-icon>
            </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  
  
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>